#show {
  font-size: 50px;
  font-weight: 900;
}

#chart {
  position: relative;
  .axisX {
    .tick {
      font-size: 16px;
      line {
        opacity: 0;
        stroke: lightgray;
        stroke-width: 2px;
        transition: all 1s;
        &.active {
          opacity: 1;
        }
      }
    }
  }
  .axisY {
    .tick {
      color: gray;
      font-size: 12px;
      line {
        stroke: lightgray;
      }
    }
  }
  .point {
    cursor: pointer;
  }
  .colorBlock {
    display: inline-block;
    width: 30px;
    height: 30px;
    box-shadow: -2px 2px 3px rgba(0,0,0,0.5);
    vertical-align: middle;
  }
  .tooltip {
    width: 10%;
    background-color: #dddddd;
    text-align: center;
    top: 0;
    left: 0;
    border-radius: 10%;
    transform: translate(-100%, -100%);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), -2px 1px 8px rgba(0, 0, 0, 0.3);
    padding-top: 0.5rem;
    p {
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }
  }
  .table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    .tr{
      &:hover{
        transform: translate(3px,-3px);
        box-shadow: -3px 3px 5px rgba(0,0,0,0.5);
        transition: all 0.5s;
      }
      &:nth-child(even) {
        background-color: #dddddd;
      }
      &:nth-child(odd) {
        background-color: white;
      }
      &.active {
        background-color: lightpink;
      }
    }
    
    thead {
      th {
        vertical-align: middle;
        text-align: center;
        padding: 8px;
        border: 1px solid #f0ecec;
        &:first-child {
          width: 50px;
        }
      }
    }
    td {
      padding: 8px;
      vertical-align: middle;
      text-align: center;
      border: 1px solid #dddddd;
    }
  }
}
