#show {
  font-size: 50px;
  font-weight: 900;
}



#chart{
  position: relative;
}
.axisX {
  .tick {
    font-size: 16px;
    line {
      opacity: 0;
      stroke: lightgray;
      stroke-width: 2px;
      transition: all 1s ;
      &.active{
        opacity: 1;
      }
    }
  }
}

.axisY {
  .tick {
    color: gray;
    font-size: 12px;
    line {
      stroke: lightgray;
    }
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  thead{
    th{
      &:first-child{
        width:50px;
      }
    }
  }
}

.table {
  th,
  td {
    vertical-align: middle;
  }
}

td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.tr{
  &.active{
    background-color: lightpink;
  }
}

.colorBlock {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: red;
  vertical-align:middle;
}
.point{
  cursor: pointer;
}
.tooltip{
  width: 10%;
  background-color: #980000;
  text-align: center;
  top: 0;
  left: 0;
  border-radius: 10%;
  transform:translate(-100%,-100%);
  p{
    margin-bottom: 0.5rem;
    color: #ffffff;
    font-size: 1rem;
  }
}